<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1 class="logo">CLOTHES</h1>
      </a>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="#">Inicio</a>
        <a class="nav-link" href="#">Tienda</a>
        <a class="nav-link" href="#">Sobre Nosotros</a>
        <a class="nav-link" href="#">Contacto</a>
        <a class="nav-link" href="#">
          <i class="bi bi-search"></i>
        </a>
        <a class="nav-link" href="#">
          <i class="bi bi-person"></i>
        </a>
        <a class="nav-link" href="#">
          <i class="bi bi-cart3"></i>
        </a>
      </div>
    </div>
  </nav>
  